<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

      
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">Dashboard</div>
                <div class="font-medium tracking-tight text-secondary">Monitor metrics, check reports and review performance</div>
            </div>
            <div class="flex items-center ml-6">
                <button
                    class="hidden sm:inline-flex"
                    mat-stroked-button>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:cog'"></mat-icon>
                    <span class="ml-2">Settings</span>
                </button>
            

             
                <div class="sm:hidden">
                    <button
                        [matMenuTriggerFor]="actionsMenu"
                        mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                        <button mat-menu-item>Settings</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="flex items-center  gap-4 w-full">
         <div class="w-80 h-40 rounded-md bg-slate-600  mt-4 p-4 flex flex-col ">
        <span class=" text-xl font-semibold text-white">Users</span>
        <span class="font-extrabold text-xl text-white">{{userCount}}</span>
         </div>

         <div class="w-80 h-40 rounded-md bg-slate-400 mt-4 p-4 flex flex-col">
            <span class=" text-xl font-semibold text-white">Requests</span>
            <span class="font-extrabold text-xl text-white">{{requestCount}}</span>
             </div>


             <div class="w-80 h-40 rounded-md bg-green-500 mt-4 p-4 flex flex-col">
                <span class=" text-xl font-semibold text-white">Done</span>
                <span class="font-extrabold text-xl text-white">3</span>
                 </div>
        </div>
    </div>

</div>
